{% extends 'adminpages/admin_base.html' %}

{% block content %}
<hr>

<hr>




<div class="cart-row ">
            <!-- <button id="make-payment" > Make Payment</button> -->
<table class="table">

    <thead class="top-colour">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Email </th>
            <th> Date Joined</th>
        </tr>
    </thead>

    {% for customer in shipping %}
<tr>
                        <td>{{forloop.counter}}</td>
						<td><a href="{% url 'customer_details' customer.pk %}">{{customer.customer.name}}</a></td>
                        <td>{{customer.customer.name}}</td>
                        <td>{{customer.customer.shipping}}</td>

                    </tr>
    {% endfor %}

</table>
            </div>

{% endblock content %}